<div class="container">
  <div class="block">
    <h3>XML ورودی</h3>
    <div class="examples">
      <button class="example-btn" (click)="xml = exampleSimple">مثال ساده</button>
      <button class="example-btn" (click)="xml = exampleCard">کارت</button>
      <button class="example-btn" (click)="xml = exampleTabs">تب‌ها</button>
    </div>
    <textarea [(ngModel)]="xml"></textarea>
  </div>
  <div class="block">
    <h3>خروجی رندر شده</h3>
    <div class="renderer">
      <app-view-renderer [xml]="xml"></app-view-renderer>
    </div>
  </div>
</div>
